.align-right {
    padding-left: 120px;
}

.about-us-line {
  height: 1px;
  background-color: rgba(169, 172, 181, 0.2);
}


.bottom-right h2 {
    padding: 34px 70px;
}

.bottom-right {
    position: absolute;
    width: 505px;
    height: 120px;
    background-color: white;
    margin-left: 1050px;
    margin-top: -119px;
    border-radius: 6px;
}

.bottom-right p {
    padding-left: 70px;
    margin-top: -34px;
}

.p-14 { 
  font-family: Poppins;
  font-size: 14px;
  color: #72809d;

}

.p-18 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
}

.h1-center {
    text-align: center;
}

.item2 {
	display: block;
	margin:15px 0;
}

.h2-mid, .p-12 {
    padding-left: 20px;
}

@media screen and (max-width: $sm) {
    
    .align-right {
        padding: 0 15px;
    }

    .h2-mid, .p-12 {
    padding-left: 0px;
}

    .bottom-right {
        display: none;
    }
  }