.blog-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-list li a {
    display: block;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    color: #2c3f58;
    font-weight: 600;
}

.blog-list li a:hover {
    color: #fe5303;
}

.blog-list li {
    float: left;
}
