.site__footer {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between; */
  }

  .site__footer {
    padding-bottom: 0.5em;
    /*padding-left: 5%;
    padding-right: 5%; */
    padding-top: 0.5em;
}

  .img-footer {
    width: 119px;
    height: 29px;
    margin-top: 10px;
    margin-left: 25px;
  }


.footer-line {
    height: 1px;
  background-color: rgba(169, 172, 181, 0.2);
}

  .p-footer {
    font-family: Poppins;
    font-size: 1rem;
    color: #2c3f58;
    padding-left: 2%;
  }
  .p-footer-line {
    font-family: Poppins;
    font-size: 1rem;
    color: #2c3f58;
    padding-left: 2%;
  }

  .p-icons-footer {
    font-family: Poppins;
    font-size: 1rem;
    color: #a9acb5;
    padding-left: 60%;
  }

  .p-icons-footer i {
      padding-left: 20px;
  }


  @media screen and (max-width: $sm) {
    .img-footer {
        display: none;
    }
    .p-footer-line{
        display: none;
    }
    .p-icons-footer {
        margin-top: -45px;
    }
  }