img {
	max-width:100%;
	width:100%;
}

.item {
	display: block;
	margin:15px 0;
}

.nom-item {
  padding: 0 1.5rem 1.2rem;
    position: absolute;
    bottom: 0;
    transform: translate3d(0, 100%, 0);
    transition: all .4s ease-in-out;
    z-index: 2;
}

.gallery-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery-list li a {
    display: block;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    color: #2c3f58;
}

.gallery-list li a:hover {
    color: #fe5303;
}

.gallery-list li {
    float: left;
}

.item {
    
    .gallery-title {
      position: absolute;
      bottom: 380px;
      left: 30px;
      color: #fff;
      transition: all ease-in-out .5s;
      font-family: 'Noto Sans', sans-serif;
    }
    .gallery-description {
      position: absolute;
      
      left: 30px;
      right: 30px;
      color: #fff;
      font-family: 'Sanchez', serif;
      font-size:.8em;
    }
    &:hover {
      background: #333;
      img {
        opacity: .3;
      }
      .gallery-title {
        bottom: 30%;
        font-family: PlayfairDisplay;
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
      }
      .gallery-description {
        display: block;
        animation-name: slide-up;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: .2s;
        animation-fill-mode: forwards;
        opacity: 0;
        font-family: PlayfairDisplay;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
  
  @keyframes slide-up {
    0% {
      bottom: 0;
      opacity: 0;
    }
    100% {
      bottom: 15%;
      opacity: 1;
    }
  }