.lead {
    font-family: Poppins;
    font-size: 1.125rem;
    color: #2c3f58;
    font-weight: 500;
}

.blockquote {
    font-family: PlayfairDisplay;
    font-size: 1.5rem;
    color: #2c3f58;
}

.blockquote-author {
    font-family: Poppins;
    font-size: 1.125rem;
    color: #72809d;
    font-weight: lighter;
}

.article-meta span {
    font-family: Poppins;
    font-size: 1rem;
    color: #a9acb5;
    text-align: center;
}


.article-meta h2 {
    font-family: PlayFairDisplay;
    font-size: 2rem;
    font-weight: bold;
    color: #2c3f58;
    padding-left: 20%;
    padding-right: 20%;
}
.button-rond {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
  text-align: center;
  margin: 0 auto;
}

.btn-bottom i {
    color: white;
    padding: 15px;
}