h1 {
    font-family: PlayFairDisplay;
    font-size: 3rem;
    font-weight: bold;
    color: #2c3f58; 
}

.h1-center {
    font-family: PlayFairDisplay;
    font-size: 3rem;
    font-weight: bold;
    color: #2c3f58;
    text-align: center;
}

.h1-big {
    
    font-family: PlayFairDisplay;
    font-size: 4rem;
    font-weight: bold;
    color: #2c3f58;
}

h2 {
    font-family: PlayFairDisplay;
    font-size: 2rem;
    color: #2c3f58; 
}

.h2-light {

    font-family: PlayFairDisplay;
    font-size: 2rem;
    color: #2c3f58;
    font-weight: lighter; 
}

.h2-mid {
    font-family: PlayFairDisplay;
    font-size: 1.5rem;
    color: #2c3f58; 
}

.h2-mid-2 {
    font-family: PlayFairDisplay;
    font-size: 1.5rem;
    color: #2c3f58; 
}

.h2-96 {
    font-family: PlayFairDisplay;
    font-size: 6rem;
    color: #2c3f58;
}

.h2-center {
    font-family: PlayFairDisplay;
    font-size: 2rem;
    color: #2c3f58;
    text-align: center; 
}

.h2-center-48 {
    font-family: PlayFairDisplay;
    font-size: 3rem;
    color: #2c3f58;
    text-align: center;
}

.p-14px {
    font-family: Poppins;
    font-size: 14px;
    color: #2c3f58;
}

.p-14px-gris {
  font-family: Poppins;
  font-size: 14px;
  color: #72809d;
}



.p-desc {
    color: rgba(44, 63, 88, 0.8);
    font-family: Poppins;
    font-size: 1rem;
}

p {
    font-family: Poppins;
    font-size: 1rem;
    color: #72809d; /* rgba(44, 63, 88, 0.8); */
    font-weight: 100;
    font-style: normal;
    line-height: 1.80;
}

.p-mid {
    font-family: PlayFairDisplay;
    font-size: 1.5rem;
    color: #2c3f58;
    font-weight: bold; 
}

.p-verybig {
    font-size: 15rem;
    font-family: Poppins;
    color: #6d6363;
    margin: 0 auto;
}

.p-justify {
    font-family: Poppins;
    font-size: 1rem;
    color: #72809d; /* rgba(44, 63, 88, 0.8); */
    font-weight: normal;
    font-style: normal;
    line-height: 1.80;
    text-align: justify;
}

.p-maj {
    font-family: Poppins;
    font-size: 1rem;
    color: #a9acb5; /* rgba(44, 63, 88, 0.8); */
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

.p-gris {
    font-family: Poppins;
    font-size: 1rem;
    color:rgba(44, 63, 88, 0.8); /* #a9acb5; */
    font-weight: normal;
    font-style: normal;
}

.p-gris-center {
    font-family: Poppins;
    font-size: 1rem;
    color: #a9acb5; /* rgba(44, 63, 88, 0.8); */
    font-weight: normal;
    font-style: normal;
    text-align: center;
}


.p-12 {
    font-family: Poppins;
    font-size: 12px;
    color: #a9acb5;
}

.p-12-bold {
    font-family: Poppins;
    font-size: 12px;
    color: #a9acb5;
    font-weight: 600;
}

.space-5 {
    padding-top: 5%;
}

.space-2 {
    padding-top: 2%;
}

