.article-meta {
    font-family: Poppins;
    font-size: 1rem;
    color: #a9acb5;
    text-align: center;
    text-transform: uppercase;
}

.p-explo {
    margin-top: -55%;
    padding-left: 58%;
}

.p-orange {
    font-family: Poppins;
    font-size: 18px;
    color: #fe5303;
    text-align: right;
    margin-top: -8%;
}

.h1-big-orange::first-line {
    color: #2c3f58;
}

.h1-big-orange {
    
    font-family: PlayFairDisplay;
    font-size: 4rem;
    font-weight: bold;
    color: #fe5303;
}

.bg-darker {
    background-color: rgba(244, 244, 244, 0.6);
    width: 100%;
}

.homepage-card {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    width: 400px;
}
  
.card-1 {
    box-shadow: 0 24px 64px 0 rgba(169, 172, 181, 0.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.p-title {
    font-family: PlayfairDisplay;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3f58;
}
  
.p-desc {
    font-family: PlayfairDisplay;
    font-size: 1.125rem;
    color: #2c3f58;
}
  
.p-author p {
      font-family: Poppins;
      font-size: 1rem;
      color: #2c3f58;
      line-height: 1.80;
}
  
.p-country {
    font-family: Poppins;
    font-size: 14px;
    color: #a9acb5;
    padding-left: 8%;
}
  
.fa-user {
    color: grey;
    padding-right: 5%;
}


.homepage-card-orange {
    background: #fe5303;
    border-radius: 6px;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}
  
.h1-3rem {
    color: white;
    font-size: 3rem;
    font-family: PlayFairDisplay;
    padding-left: 5%;
    
}
  
.p-bandeau {
    padding-left: 5%;
    padding-right: 45%;
    font-family: Poppins;
    font-size: 1rem;
    color: white;
    font-weight: lighter;
}

.btn-orange-homepage button {
    margin-top: -10%;
}


@media screen and (max-width: $sm) {
    .homepage-card {
        width: 350px;
        padding: 2px 2px;
    }

    .col-xs-9 {
        padding: 0;
    }
  }